:root{
    --default-light: #eeeeee;
    --default-dark: #0b0c0b;
    --offdark: #808080;
}

/* symbols (google fonts) */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

.hidden{
    visibility: hidden;
}

html{
    font-size: 12px;
    font-family: space grotesk;
    color: var(--default-dark);
}
body{
    background-color: var(--default-light);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main{
    display: flex;
    gap: 1rem;
    margin: 3rem auto 3rem auto;
    flex-direction: row;
    max-width: 1200px;
    align-items: center;
}
header{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h1{
    font-size: 1.5rem;
    font-weight: 300;
}
p{
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--offdark);
}
#switch{
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: fit-content;
    font-size: 1rem;
    padding: 0.5rem 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
#clouds{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
h2 span{
    font-family: bytesized;
    font-size: 2rem;
}
h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 0;
    margin-bottom: 1rem;
}
ul li a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    font-family: "space grotesk";
    color: var(--offdark);
    font-size: 1.5rem;
    font-weight: 300;
    white-space: nowrap;
    padding: 0.25rem 0 0.25rem 0; /*use this instead of row gap for smoother hover transition*/
}
.link-arrow{
    font-size: 1.25rem;
}

@media screen and (max-width: 750px){
    body{
        align-items: start;
    }
    main{
        width: 90%;
        flex-direction: column;
        align-items: start;
        gap: 4rem;
        padding: 0 0 7rem 0;
    }
    h2{
        font-size: 1.35rem;
    }
    ul li{
        width: 100%;
    }
    ul li a{
        padding: 0.5rem 0;
    }
}
