:root{

    /* Color */
    --default-dark: #0b0c0b;
    --default-yellow: #fffb05;
    --default-green: rgb(92, 255, 122);
    --default-light-blue: #aee8ff;
    --default-blue: #446df6;
    --default-orange: rgb(255, 104, 66);
    --default-purple: rgb(186, 117, 255);
    --low-contrast-bg: rgba(44, 32, 208, 0.1);
    --low-contrast-fg: rgba(44, 32, 208, 0.4);

    /* Size */
    --h2-font-size: 2rem;
    --mobile-master-gap: 5rem;
    --secondary-gap: 1rem;

    /* Dependent */
    --background: var(--default-light-blue);
    --blue-fg: var(--default-blue);
}

/* symbols (google fonts) */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

@font-face { 
    font-family: "InterDisplay-Light"; 
    font-style: normal; 
    font-weight: 400; 
    font-display: swap; 
    src: url("../fonts/InterDisplay-Light.woff2") format("woff2"); 
}
@font-face { 
    font-family: "InterDisplay-Medium"; 
    font-style: normal; 
    font-weight: 500; 
    font-display: swap; 
    src: url("../fonts/InterDisplay-Medium.woff2") format("woff2"); 
}
@font-face { 
    font-family: "InterDisplay-Bold"; 
    font-style: normal; 
    font-weight: 700; 
    font-display: swap; 
    src: url("../fonts/InterDisplay-Bold.woff2") format("woff2"); 
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

/* Generally Applicable Styling*/
.pointer-on-hover{
    cursor: pointer;
}
.default-on-hover{
    cursor: default;
}
.hidden{
    visibility: hidden;
    position: absolute;
}
.visible{
    visibility: visible;
    position: relative;
}
.low-contrast{
    color: var(--low-contrast-fg);
}
.selectable-hover{
    background-color: var(--low-contrast-bg);
}
.section-divider-bottom{
    border-bottom: 0.5px solid var(--blue-fg);
}
.cell{
    color: var(--default-blue);
    font-size: 1.3rem;
    padding: 1rem;
}


/* Default Element Styling */
html{
    font-size: 12px;
    font-family: InterDisplay-Medium;
    background-color: var(--background);
    color: var(--blue-fg);
}
main{
    margin: auto;
    padding: 5rem 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    overflow: hidden;
}
h1{
    font-size: 3rem;
    font-family: InterDisplay-Bold;
}
h2{
    font-size: var(--h2-font-size);
    font-family: InterDisplay-Bold;
}

.percent-display{
    color: var(--default-purple);
}

.response-count-display{
    font-family: InterDisplay-Light;
    font-size: 1.25rem;
    padding: 0.5rem;
    max-width: fit-content;
    color: var(--default-blue);
    border: 0.5px solid var(--default-blue);
    border-radius: 0.25rem;
}

/* Rows */
#row-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--secondary-gap);
    margin: 3rem 0 3rem 0;
}
#row-2, #row-3{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
}
#row-2 div, #row-3 div{
    flex: 1;
}
#row-3 .row-contents{
    max-width: 60%;
}
.row-contents{
    display: flex;
    flex-direction: column;
    gap: var(--secondary-gap);
}

/* category list styling */
.category-list{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}
.category-item{
    display: flex;
    white-space: nowrap;
    padding: 0.5rem 0.75rem 0.5rem;
    font-size: 1.25rem;
    color: var(--default-dark);
    gap: 0.5rem;
    border: 0.5px var(--default-blue) solid;
    border-radius: 20rem;
}
.category-item span{
    white-space: nowrap;
}

/* Overview */
.overview{
    /* background-color: var(--low-contrast-bg); */
    border: 0.5px solid var(--default-blue);
    padding: 2rem;
    border-radius: 2rem;
}
.overview p{
    font-size: 1.3rem;
    line-height: 1.75rem;
    color: var(--low-contrast-fg);
    max-width: 90%;
}
.overview .p-strong{
    color: var(--default-purple);
    font-family: InterDisplay-Bold;
}

/* Button cluster styling */
#button-cluster{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.button-cluster-button{
    font-size: 1.3rem;
    padding: 1rem;
    background-color: var(--low-contrast-bg);
    border-radius: 20rem;
    color: var(--low-contrast-fg);
    text-decoration: none;
}

/* Mobile Specific */
@media (max-width: 768px) {
    /* mobile styling here. delete if none */
    main{
        width: 94vw;
        gap: var(--mobile-master-gap);
    }
    #row-1{
        align-items: start;
        margin-left: 1rem;
    }
    #row-2, #row-3{
        flex-direction: column;
        gap: var(--mobile-master-gap);
    }
    #row-3 .row-contents{
        max-width: 100%;
    }
}