:root{
    --default-light: #eeeeee;
    --default-dark: #0b0c0b;
    --secondary: rgb(0, 255, 255);
    --offdark: #808080;
    --offlight:#b1b1b1;
    --bg-blue: blue;
    --transparent: rgba(0, 0, 0, 0.1);
    --water: var(--bg-blue);
    --coke-zero: red;
    --coffee: rgb(158, 102, 77);
    --americano: rgb(171, 136, 120);
}

/* symbols (google fonts) */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

/*fonts*/
@font-face { 
    font-family: "InterDisplay-Bold"; 
    font-style: normal; 
    font-weight: 700; 
    font-display: swap; 
    src: url("../../fonts/InterDisplay-Bold.woff2") format("woff2"); 
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

.itemHover{
    background-color: var(--transparent);
    transition: all 0.2s;
}

html{
    font-size: 12px;
    font-family: space grotesk;
    color: var(--default-light);
}
body{
    background-color: var(--bg-blue);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main{
    position: relative;
    display: flex;
    gap: 6rem;
    margin: 3rem auto 3rem auto;
    flex-direction: row;
    max-width: 1200px;
    align-items: center;
    width: 1200px;
    height: 90vh;
}
header{
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h1{
    font-size: 1.75rem;
    font-weight: 300;
    font-family: InterDisplay-Bold;
}
p{
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--default-light);
}
section{
    position: relative;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
#table{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#table li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.timestamp{
    display: block;
    align-items: center;
    font-size: 1.25rem;
    width: 4rem;
    color: var(--secondary);
}
.identifier{
    border-radius: 2rem;
    height: 1rem;
    width: 1rem;
}
.fluid{
    display: block;
    border-radius: 0.5rem;
    background-color: var(--transparent);
    min-width: fit-content;
    padding: 0.25rem 1rem;
}
.ounces{
    font-size: 1.25rem;
    display: block;
    max-width: fit-content;
    font-family: space grotesk;
    color: var(--secondary);
}
#back-arrow{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    border-radius: 100rem;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    text-decoration: none;
}
#back-arrow span{
    transform: translateX(0.25rem);
}
/* #switch{
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: fit-content;
    font-size: 1rem;
    padding: 0.5rem 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
} */


@media screen and (max-width: 700px){
    body{
        align-items: start;
    }
    main{
        width: 90%;
        flex-direction: column;
        align-items: start;
        gap: 3rem;
        padding: 0 0 7rem 0;
    }
    /* #switch{
        font-size: 1.2rem;
    } */
    #back-arrow{
        position: relative;
    }
    header{
        width: 75%;
    }
    section{
        width: 100%;
    }
}