
/*fonts*/
@font-face { 
    font-family: "InterDisplay-Bold"; 
    font-style: normal; 
    font-weight: 700; 
    font-display: swap; 
    src: url("../../fonts/InterDisplay-Bold.woff2") format("woff2"); 
}
@font-face { 
    font-family: "Inter-Regular"; 
    font-style: normal; 
    font-weight: 700; 
    font-display: swap; 
    src: url("../../fonts/Inter-Regular.woff2") format("woff2"); 
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

html{
    font-size: 12px; /* define rem */
    font-family: InterDisplay-Bold;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main{
    position: relative;
    width: 1200px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

#orb{
    height: 80vh;
    width: 80vh;
    border-radius: 1000rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#display{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
}

.temp-small{
    font-size: 1.5rem;
}

.temp-big{
    font-size: 15rem;
}

#back-arrow{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    text-decoration: none;
}
#back-arrow span{
    transform: translateX(0.25rem);
}

#info{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 10%;
    font-family: 'Inter-Regular';
}

@media screen and (max-width: 750px){
    body{
        width: 100vw;
        height: 100vh;
    }
    main{
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: fit-content;
    }
    #back-arrow{
        top: 3rem;
        left: 3rem;;
    }
    .temp-big{
        font-size: 10rem;
    }
    #orb{
        height: 72vh;
        width: 72vh;
        transform: translateY(-2rem);
    }
}